@media screen and (min-width: 64em) {
    .input-group {
        width: calc(100vw - 250px);
    }
}

.chat {
    height: calc(100vh - 95px);
    overflow-y: scroll;
    overflow-wrap: break-word;
    padding: 1em;
}

.off-canvas-absolute p {
    padding: 1em;
    overflow-wrap: break-word;
    margin: 0;
}